pyqt5==5.10
pyqt-distutils==0.7.3
pyinstaller==3.4
click-datetime==0.2
cryptography==2.3
aiohttp==3.0.1
requests>=2.20.0
yarl==1.1.0
ccxt==1.17.434
pywaves==0.8.20
git+https://github.com/Codaone/python-bitshares.git@0c9bf5ef3808572b7a10dfc32615906083e6b8ff#egg=bitshares
git+https://github.com/Codaone/python-graphenelib.git@ba3702a25498f56a8ade8b855b812e7ec00311e2#egg=graphenelib
uptick==0.2.1
ruamel.yaml>=0.15.37
appdirs>=1.4.3
pycryptodomex==3.6.4
websocket-client==0.56.0
sdnotify==0.3.2
sqlalchemy==1.3.0
click==7.0
alembic==1.0.11
